html {
    font-size: 100%;
}

body, 
ol li::marker,
.icon-item p {
    font-family: 'MontserratFont', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}


h1, h3 {
    font-weight: 300;
}
h2 {
    font-weight: 400;
}

h1 {
    font-size: 1.9rem;
}
h2, h3 {
    font-size: 1.2rem;
}
/* h3 {
    font-size: 1.1rem;
} */

.btn-main {
    font-size: 1rem;
    font-weight: 500;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2.2rem;
    }
    h2, h3 {
        font-size: 1.4rem;
    }
    /* h3 {
        font-size: 1.1rem;
    } */
}


@media (min-width: 1600px) {
    body, 
    ol li::marker,
    .icon-item p {
        font-size: calc(0.9rem + 0.2vw);
    }
    .btn-main {
        font-size: calc(1rem + 0.35vw);
    }
    h1 {
        font-size: calc(2.2rem + 0.354vw);
    }
    h2, h3 {
        font-size: calc(1.4rem + 0.35vw);
    }
    /* h3 {
        font-size: calc(1.1rem + 0.35vw);
    } */
}

@media (min-width: 2561px) {
    body,
    ol li::marker,
    .icon-item p {
        font-size: calc(0.9rem + 0.4vw);
    }
    .btn-main {
        font-size: calc(1rem + 0.6vw);
    }
    h1 {
        font-size: calc(2.2rem + 0.6vw);
    }
    h2, h3 {
        font-size: calc(1.4rem + 0.6vw);
    }
    /* h3 {
        font-size: calc(1.1rem + 0.6vw);
    } */
   
}



.icon-item p {
    line-height: 1.5;
}


section ul, section div p {
    line-height: 2;
}

@media (min-width: 1921px) {
    section ul, section div p {
        line-height: 2.2;
    }
}

@media (min-width: 2561px) {
    section ul, section div p {
        line-height: 2.4;
    }

}


/*---NAVIGAITON---*/

.nav-menu, .lang-btn {
    font-size: 0.8rem;
}

.contact-links {
    font-size: 0.7rem;
}

footer {
    font-size: 0.7rem;
}

.home-icon img {
    width: 30px
}

.home-icon-footer img {
    width: 20px;
}


@media (min-width: 1366px) {
    .nav-menu, .lang-btn {
        font-size: 0.9rem;
    }
    .contact-links {
        font-size: 0.8rem;
    }
    footer {
        font-size: 0.8rem;
    }
}


@media (min-width: 1920px) {
    .nav-menu, .lang-btn {
        font-size: 1.1rem;
    }
    .contact-links {
        font-size: 1rem;
    }
    footer {
        font-size: 0.9rem;
    }
        
    .home-icon img {
        width: 35px;
    }
    .home-icon-footer img {
        width: 25px;
    }
}

@media (min-width: 2560px) {
    .nav-menu, .lang-btn {
        font-size: calc(1.1rem + 0.3vw);
    }
    .contact-links {
        font-size: calc(1rem + 0.3vw);
    }
    footer {
        font-size: calc(0.9rem + 0.3vw);
    }
    .home-icon img {
        width: calc(40px + 0.2vw);
    }
    .home-icon-footer img {
        width: calc(30px + 0.2vw);
    }
}



