html {
    font-size: 100%;
}

body, ol li::marker {
    font-family: 'MontserratFont', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: calc(0.8rem + 0.5vw);
}

h1 {
    font-size: calc(1.2rem + 0.5vw);
}
h2 {
    font-size: calc(1.05rem + 0.5vw);
}
h3 {
    font-size: calc(0.9rem + 0.5vw);
}

@media (min-width: 1981px) {
    body, ol li::marker {
        font-size: calc(1rem + 0.6vw);
    }
    h1 {
        font-size: calc(1.6rem + 0.6vw);
    }
    h2 {
        font-size: calc(1.4rem + 0.6vw);
    }
    h3 {
        font-size: calc(1.2rem + 0.6vw);
    }
}

@media (min-width: 2561px) {
    body, ol li::marker {
        font-size: calc(1.2rem + 0.7vw);
    }
    h1 {
        font-size: calc(2rem + 0.7vw);
    }
    h2 {
        font-size: calc(1.7rem + 0.7vw);
    }
    h3 {
        font-size: calc(1.4rem + 0.7vw);
    }
}


section ul, section div p {
    /*font-size: 1.35rem;*/
    line-height: 2;
}

.btn-main {
    font-size: 0.9rem;
    font-weight: 600;
}

.icon-item p {
    font-size: calc(0.5rem + 0.5vw);
    line-height: 1.5;
}

@media (min-width: 1024px) {
    .btn-main {
        font-size: 1.1rem;
    }
}

@media (min-width: 1921px) {
    section ul, section div p {
        line-height: 2.2;
    }
    .btn-main {
        font-size: calc(1.1rem + 0.5vw);
    }
}

@media (min-width: 2561px) {
    section ul, section div p {
        line-height: 2.4;
    }
    .icon-item p { 
        font-size: calc(0.5rem + 0.6vw);
    }
    .btn-main {
        font-size: calc(2rem + 0.7vw);
    }
}

/* clamp (min, prefered, max)
    media queries
    calc()
*/

/*---ICON GRID---*/
  

/*---NAVIGAITON---*/

.nav-menu {
    font-size: 0.8rem;
}

footer {
    font-size: 0.8rem;
}


@media (min-width: 1366px) {
    .nav-menu {
        font-size: 1rem;
    }
    footer {
        font-size: 0.9rem;
    }
}


@media (min-width: 1920px) {
    .nav-menu {
        font-size: 1.2rem;
    }
    footer {
        font-size: 1rem;
    }
}

@media (min-width: 2561px) {
    .nav-menu {
        font-size: calc(1.2rem + 0.25vw);
    }
    footer {
        font-size: calc(1rem + 0.1vw);
    }
}

