html {
    font-size: 100%;
}

body, ol li::marker {
    font-family: 'MontserratFont', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.4rem;
}
h3, .btn-main {
    font-size: 1.1rem;
}

.btn-main {
    font-size: 0.9rem;
    font-weight: 600;
}


@media (min-width: 1600px) {
    body, ol li::marker,
    .btn-main,
    .icon-item p {
        font-size: calc(1rem + 0.5vw);
    }
    h1 {
        font-size: calc(1.8rem + 0.5vw);
    }
    h2 {
        font-size: calc(1.4rem + 0.5vw);
    }
    h3 {
        font-size: calc(1.1rem + 0.5vw);
    }
}

@media (min-width: 2561px) {
    body, ol li::marker,
    .btn-main,
    .icon-item p {
        font-size: calc(1rem + 0.75vw);
    }
    h1 {
        font-size: calc(1.8rem + 0.75vw);
    }
    h2 {
        font-size: calc(1.4rem + 0.75vw);
    }
    h3 {
        font-size: calc(1.1rem + 0.75vw);
    }
   
}



.icon-item p {
    line-height: 1.5;
}


section ul, section div p {
    line-height: 2;
}


@media (min-width: 1024px) {
    /* .btn-main {
        font-size: 1.1rem;
    } */
}

@media (min-width: 1921px) {
    section ul, section div p {
        line-height: 2.2;
    }
}

@media (min-width: 2561px) {
    section ul, section div p {
        line-height: 2.4;
    }

}


/*---NAVIGAITON---*/

.header {
    font-size: 0.8rem;
}

.contact-links {
    font-size: 0.7rem;
}

footer {
    font-size: 0.7rem;
}


@media (min-width: 1366px) {
    .header {
        font-size: 0.9rem;
    }
    .contact-links {
        font-size: 0.8rem;
    }
    footer {
        font-size: 0.8rem;
    }
}


@media (min-width: 1920px) {
    .nav-menu {
        font-size: 1.1rem;
    }
    .contact-links {
        font-size: 1rem;
    }
    footer {
        font-size: 0.9rem;
    }
        
    .home-icon img,
    .home-icon-footer img {
        width: 30px;
    }
}

@media (min-width: 2560px) {
    .nav-menu {
        font-size: calc(1.1rem + 0.3vw);
    }
    .contact-links {
        font-size: calc(1rem + 0.3vw);
    }
    footer {
        font-size: calc(0.9rem + 0.3vw);
    }
    .home-icon img,
    .home-icon-footer img {
        width: calc(40px + 0.3vw);
    }
}

