footer {
    margin-top: 50px;
    padding: 20px 30px 10px 30px;
    background: linear-gradient(#616264, #afb1b0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-footer-wrapper {
    width: auto;
    display: inline;
}
@media (min-width: 1024px) {
    .nav-footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (min-width: 1024px) {
    .nav-footer {
        padding: 10px;
        align-items: center;
        flex-direction: row;
    }
}

.home-icon-footer img {
    margin-right: 15px;
}

.nav-footer a {
    padding: 10px 0px 10px 15px;
    border-left: 3px solid #52ddf0;
}

@media (min-width: 1024px) {
    .nav-footer a {
        border-left: none;
        padding: 10px;
    }
}

.nav-footer a, 
.contact-btns-footer a, 
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.nav-footer a:hover, 
.contact-btns-footer a:hover, 
footer a:hover {
    color: #52ddf0;
}

.contact-btns-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    min-width: auto;
    width: auto;    
    margin-bottom: 30px;
    margin-top: 10px;  
    margin-left: -17px; 
    padding: 10px 5px;      
}

@media (min-width: 1024px) {
    .contact-btns-footer {
        flex-direction: row;
        min-width: 300px;
        align-items: center;    
        gap: calc(10px + 1vw);    
        border-top: 1px solid rgb(224, 224, 224);
        border-bottom: 1px solid rgb(224, 224, 224);
    }
    
}

.contact-btns-footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon-footer {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}


.author {
    color: white;
}

/* #52ddf0 */

.separator-footer, .home-icon-footer {
    display: none;
}

@media (min-width: 1024px) {
    .separator-footer {
        display: inline-block;
        width: 2px;
        height: 20px;
        background-color: #52ddf0;    
        margin: 0 10px;;
    }
    .home-icon-footer {
        display: block;
    }
}

@media (min-width: 2560px) {
    .contact-btns-footer {
        max-width: calc(600px + 5vw);
    }
    .separator-footer {
        margin: 0px 25px;
    }
}