/*---ICON GRID---*/

.icon-grid-outer {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-grid-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-item img {
    width: auto;
    height: 100px;
}

.icon-item p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;    
}


@media (min-width: 768px) {
    .icon-grid-outer {
        margin-left: 50px;
        margin-right: 25px;
    }
    .icon-grid-inner {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .icon-item {
    }
    .icon-item img {
        height: 140px;
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 1366px) {
    .icon-grid-outer {
        width: 85%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .icon-grid-inner {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .icon-item img {
        height: 140px;
    }
}


@media (min-width: 1921px) {
    .icon-grid-inner {
       
    }
    .icon-item img {
        height: 250px;
    }
}

@media (min-width: 2561px) {
    .icon-grid-inner {
        gap: 100px;
    }
    .icon-grid-outer {
        width: 80%;
    }
    .icon-item img {
        height: calc(250px + 3vw);
    }
}

