
.header {
    position: sticky;
    top: 0;
    background-color: rgba(128, 128, 128, 0.8);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

@media (min-width: 2560px) { 
    .nav-menu {
        padding: 20px 40px;
    }
}

.nav-links {
    display: none;
}

@media(min-width: 1024px) {
    .nav-links {
        display: flex;
        align-items: center;
    }
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-wrap: nowrap;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.home-icon img {
    margin-right: 20px;
    margin-left: 30px;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

@media (min-width: 1024px) {
    .contact-links {
        justify-content: flex-end;
    }
}

.contact-links-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (min-width: 650px) {
    .contact-links-info {
        flex-direction: row;
    }
}

.contact-links a, .lang-btn {
    display: flex;
    align-items: center;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.lang-btn {
    background: none;
    border: none;
    color: #50e2f9;
}

.contact-icon {
    margin-right: 10px;
    width: 36px;  /* Adjust size as needed */
    height: 36px;  /* Adjust size as needed */
}

.menu-toggle {
    display: inline-block;
    background: transparent;
    border: none;
}

@media (min-width: 1024px) {
    .menu-toggle {
        display: none;
    }
}

.mobile-nav-links {
    display: none;
    flex-direction: column;
    padding: 10px 25px 10px 10px;
    text-align: right;
}

.mobile-nav-links.active {
    display: flex;
}

.mobile-nav-links a {
    margin: 10px 0;
    text-decoration: none;
    font-weight: bolder;
    padding: 5px 8px 5px 5px;
    color: white;
    box-shadow: 4px 0px 2px -2px #50e2f9;
}

.nav-links a:hover,
.contact-links a:hover,
.mobile-nav-links a:hover {
    color: #52ddf0;
}

@media (min-width: 1024px) {
    .text-hiding {
        display: none;
    }
}

@media (min-width: 1420px) {
    .text-hiding {
        display: inline;
    }
}