html {
    scroll-behavior: smooth;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

main {
    color: #70757b;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}


/* margins */

.top-10 {
    top: 10px !important;
}

section {
    margin-bottom: 50px;
}

div p, h3 {
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    section {
        margin-bottom: 100px;
    }
    div.text-left, div.text-right {
        margin-top: 50px;
    }
    div p, h3 {
        margin-bottom: 35px;
    }
}

@media (min-width: 1920px) {
    section {
        margin-bottom: 150px;
    }  
    div.text-left, div.text-right {
        margin-top: 75px;
    }  
    div p, h3 {
        margin-bottom: 50px;
    }
    
}

@media (min-width: 2560px) { 
    section {
        margin-bottom: 200px;
    } 

    div.text-left, div.text-right {
        margin-top: 100px;
    }
    div p, h3 {
        margin-bottom: 70px;
    }
}


/*---TOOLS---
*/


.show-desk, .show-flex {
    display: none !important;
}
.show-mob {
    display: block !important;
}


@media (min-width: 1024px) {
    .show-desk {
        display: block !important;
    }
    .show-flex {
        display: flex !important;
    }
    .show-mob {
        display: none !important;
    }
}



.separator {
    display: inline-block;
    width: 2px; 
    height: 20px;
    background-color: #52ddf0;    
    margin: 0 10px;
}

@media (min-width: 1980px) {
    .separator {
        height: 25px;
    }
}

@media (min-width: 2560px) { 
    .separator {
        height: 30px;
        margin: 0 20px;
    }
}