html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

main {
    color: #70757b;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}


/*---TOOLS---*/

.mg-left {
    margin-left: 15% !important;
}

.mg-right {
    margin-left: 40% !important;
}

.mg-top {
    margin-top: 75px !important;
}

.mg-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .mg-left {
        margin-left: auto !important;
    }
    .mg-right {
        margin-left: auto !important;
    }

    .mg-top {
        margin-top: auto;
    }
    .mg-top-mob {
        margin-top: 75px !important
    }
}


@media (max-width: 768px) {
    .show-desk, .show-flex {
        display: none !important;
    }
    .show-mob {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .show-desk {
        display: block !important;
    }
    .show-flex {
        display: flex !important;
    }
    .show-mob {
        display: none !important;
    }
}



.separator {
    display: inline-block;
    width: 2px; 
    height: 20px;
    background-color: #52ddf0;    
    margin: 0 10px;
}

@media (min-width: 1980px) {
    .separator {
        height: 25px;
    }
}

@media (min-width: 2560px) { 
    .separator {
        height: 30px;
        margin: 0 20px;
    }
}