.ul-arrow {
    list-style-type: none; /* Remove the default bullet */
    margin: 0;
    padding: 0;
}

.arrow {
    margin-right: 15px;
}

@media (min-width: 1920px) {
    .arrow {
        margin-right: 20px;
    }
}


@media (min-width: 2560px) {
    .arrow {
        margin-right: 30px;
    }    
}



ol {
    line-height: 2;
    margin: 0;
    padding: 0;
    text-align: justify;
    padding-left: 20px;
}

ol li {
    margin-bottom: 15px;
    text-indent: 10px;
}

ol li::marker {
    font-weight: 700 !important;
}

@media (min-width: 1920px) {
    ol li {
        margin-bottom: 25px;
        text-indent: 20px;
    }
}

@media (min-width: 2560px) {
    ol li {
        margin-bottom: calc(35px + 0.3vw);
        text-indent: 30px;
    }
}

ul li {
    margin-bottom: 0;
    text-indent: 0;
    line-height: 2;
}