ul li {    
    margin-bottom: 10px;
}

@media (min-width: 1024px) {
    ul li {    
        margin-bottom: 20px;
    }
}

@media (min-width: 1920px) {
    ul li {    
        margin-bottom: 30px;
    }
}

@media (min-width: 2560px) {
    ul li {    
        margin-bottom: calc(30px + 0.3vw);
    }
}

/**********************/

